spring:
  profiles:
    active: local
    include: local
  application:
    name: ai-digest-backend
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          batch_size: 50
        order_inserts: true
        generate_statistics: true
