spring:
  data:
    redis:
      host: localhost
      port: 6379

  session:
    redis:
      namespace: ai-digest:session
      flush-mode: on_save

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:ai-digest
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  servlet:
    session:
      cookie:
        name: JSESSIONID
